<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d81bb1ed-6b26-4d2d-b488-a5e1b8205dda" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="configFlow" doc:id="fadb423b-4a71-4c92-b016-962147b33312" >
		<http:listener doc:name="Listener" doc:id="56fec5ea-a114-43db-a96b-b4b09c41b2b8" config-ref="HTTP_Listener_config" path="/config"/>
		<ee:transform doc:name="Transform Message" doc:id="8c5dce43-5e42-4c3c-8597-61a66d6dbcdd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	mensagem: "sucesso"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
